body 


	p.blue {
		font-size: 30px;
		color: red;
		text-align: center;
	}
	#natural {
		color: blue;
		font-size: 20px;
	}
	h2 {
		color: orange;
	}
	article > p {
		color: green;
	}
	h1, .new{
		font-size: 35px;
		color: gray;
		text-align: right;
	}

	header li {
		list-style: none;
	}
	header li {
		text-align: center;
	}
	header li:nth-child(1) {
		margin-bottom: 50px;
	}
	a:link, a:visited {
  text-decoration: none;
  border: 1px solid blue;
  color: black;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
}
	a:hover, a:active {
		background-color: green;
		color: blue;
	}
}
